
@{
    ViewBag.Title = "Joinclub";
    Layout = "~/Views/Shared/_Cricket.cshtml";
}

<section>
    <div class="lp spe-bot-red-3">
        <div class="inn-title">
            <h2><i class="fa fa-check" aria-hidden="true"></i> join our <span>club 2017</span></h2>
            <p>Becoming a gym certified personal cricket trainer is your foundation for success. gym is the only personal trainer certification program that integrates</p>
        </div>
        <div class="p-join-club">
            <!-- PRICE -->
            <div class="col-md-3 col-sm-6">
                <div class="p-jc-in">
                    <div class="p-jc-in-1">
                        <h2>$149</h2>
                        <span>//per year</span>
                    </div>
                    <h3>minimal</h3>
                    <div class="p-jc-list">
                        <ul>
                            <li>Texas Rangers</li>
                            <li>Michigan Lackers</li>
                            <li>United Eagles</li>
                            <li>Angry Beavers</li>
                        </ul>
                    </div>
                    <a href="@Url.Content("~/Content/mytemplate/")cricket-join-club.html">Join us today!</a>
                </div>
            </div>
            <!-- PRICE -->
            <div class="col-md-3 col-sm-6">
                <div class="p-jc-in">
                    <div class="p-jc-in-1">
                        <h2>$249</h2>
                        <span>//per year</span>
                    </div>
                    <h3>OPTIMAL</h3>
                    <div class="p-jc-list">
                        <ul>
                            <li>Texas Rangers</li>
                            <li>Michigan Lackers</li>
                            <li>United Eagles</li>
                            <li>Angry Beavers</li>
                        </ul>
                    </div>
                    <a href="@Url.Content("~/Content/mytemplate/")cricket-join-club.html">Join us today!</a>
                </div>
            </div>
            <!-- PRICE -->
            <div class="col-md-3 col-sm-6">
                <div class="p-jc-in">
                    <div class="p-jc-in-1">
                        <h2>$349</h2>
                        <span>//per year</span>
                    </div>
                    <h3>PREMIUM</h3>
                    <div class="p-jc-list">
                        <ul>
                            <li>Texas Rangers</li>
                            <li>Michigan Lackers</li>
                            <li>United Eagles</li>
                            <li>Angry Beavers</li>
                        </ul>
                    </div>
                    <a href="@Url.Content("~/Content/mytemplate/")cricket-join-club.html">Join us today!</a>
                </div>
            </div>
            <!-- PRICE -->
            <div class="col-md-3 col-sm-6">
                <div class="p-jc-in">
                    <div class="p-jc-in-1">
                        <h2>$449</h2>
                        <span>//per year</span>
                    </div>
                    <h3>GOLD</h3>
                    <div class="p-jc-list">
                        <ul>
                            <li>Texas Rangers</li>
                            <li>Michigan Lackers</li>
                            <li>United Eagles</li>
                            <li>Angry Beavers</li>
                        </ul>
                    </div>
                    <a href="@Url.Content("~/Content/mytemplate/")cricket-join-club.html">Join us today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

