
@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Cricket.cshtml";
}

  <!-- SECTION: TRAINING -->
<section>
    <div class="training new-cri">
        <div class="tr-pro">
            <div class="inn-title">
                <h2><i class="fa fa-check" aria-hidden="true"></i> cricket <span>TRAINING</span></h2>
                <p>Becoming a gym certified personal cricket trainer is your foundation for success. gym is the only personal trainer certification program that integrates</p>
                <!-- SOCIAL SHARE -->
                <div class="share-btn">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- TRAINING BENEFITS -->
            <div class="inn-all-com">
                <h4>Training Start Date</h4>
                <p>Becoming a gym certified personal cricket trainer is your foundation for success. gym is the only personal trainer certification program that integrates a complete approach to cricket, wellness and business skills.</p>
                <div class="inn-ev-date">
                    <div class="inn-ev-date-left">
                        <h4>05 th</h4>
                        <span>augest 2017</span>
                    </div>
                    <div class="inn-ev-date-rig">
                        <ul>
                            <li>
                                80 <span>days</span>
                            </li>
                            <li>
                                12 <span>hours</span>
                            </li>
                            <li>
                                80 <span>min</span>
                            </li>
                            <li>
                                80 <span>sec</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- TRAINING BENEFITS -->
            <div class="inn-all-com inn-all-list tp-1">
                <h4>cricket for Women</h4>
                <p>Becoming a gym certified personal cricket trainer is your foundation for success. gym is the only personal trainer certification program that integrates a complete approach to cricket, wellness and business skills.</p>
                <ul>
                    <li>League Location: Illinois, USA</li>
                    <li>Get trained by qualified personnel</li>
                    <li>Guest lectures by International faculty</li>
                    <li>Internship with the Global cricket leader</li>
                    <li>Placement opportunities with Gold’s Gym</li>
                    <li>Earn handsome salaries on completion of course</li>
                </ul>
                <!-- TICKET BOOKING -->
                <div class="inn-tickers">
                    <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="inn-reg-com inn-reg-book"><i class="fa fa-ticket" aria-hidden="true"></i> Ticket Booking</a>
                    <a href="@Url.Content("~/Content/mytemplate/")team-register.html" class="inn-reg-com inn-reg-link"><i class="fa fa-registered" aria-hidden="true"></i> Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

